# Virtual environment
backend/venv/
backend/.venv/

# Django local database
backend/db.sqlite3

# MongoDB local data
backend/data/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Binaries
*.exe